@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex&display=swap');

body {
    background-color: rgb(250, 250, 250);
    min-width: 480px;
    animation: infoAnimation 0.5s ease-in-out;
}

#page {
    display:grid;
    max-width: 1400px;
    padding: 5pt;
    border: 0pt solid rgb(51, 7, 77);
    border-radius: 10px;
    grid-template-columns: 1fr auto;
    grid-template-areas:"kopf kopf"
                        "kalendarblatt info"
                        "kalendarblatt historie";
    margin-top: 1%;
    margin-bottom: 1%;                
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;               
    } 

@media screen and (max-width: 900px) {

            body {
            background-color: rgb(250, 250, 250);
            min-width: 480px;
            margin: 1px;
            }

            #page {
            display:block;
            border: 0pt solid rgb(51, 7, 77); 
            margin-top: 0%;
            margin-bottom: 0%;
            margin-left: 0%;
            margin-right: 0%;
            box-shadow: none;
            } 

            #info{
                font: 16px Arial;
                text-align: justify;
                margin-left: 10px;
                margin-right: 10px;
            }
            
            #historie {
                font: 16px Arial;
                text-align: justify;
                margin-left: 10px;
                margin-right: 10px;
            }

            #kalendarblatt{
                font: bold 20px Arial;
                padding: 1px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }

            h1 {
                padding: 15pt;
                margin-top: 2pt;
            }

      }

#info{
        margin-top: 5pt;
        font: 16px Arial;
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
}
    
#historie {
        font: 16px Arial;
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
}

#kalendarblatt{
    font: bold 20px Arial;
    padding: 10px;
    grid-area: kalendarblatt;
    text-align: center;
    margin: 10pt 5pt 10pt 5pt;
    
}

.samstag {
    color: rgba(30, 158, 243, 0.959) ;
    padding: 10px;
    border: 1pt solid #ccc;
    background: rgba(0, 0, 0, 0.25);
    font-size:small;
}

.sonntag {
    color: rgb(182, 13, 13) ;
    padding: 10px;
    border: 1pt solid #ccc;
    background: rgba(0, 0, 0, 0.25);
    font-size:small;
} 
#kopf {
    background: rgba(110, 87, 194, 0.897);
    color: rgba(255, 255, 255, 0.959) ;
    grid-area: kopf;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1pt;
    text-align: center;
    font-size: clamp(15px, 1vw, 18px); 
    border: 0pt;
    border-radius: 10px;
    background-origin: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#headButton{
    cursor: pointer;
}
#info{
    font-family: 'Roboto Flex', sans-serif;
}

#historie {
    font-family: 'Roboto Flex', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.178);
    color: rgba(255, 255, 255, 0.959) ;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1pt;
    border-radius: 15px 15px 0px 0px;
}

#month-year {
    cursor: pointer;
}

input{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1pt;
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.48em;
    font-weight: bold;
    background: none;
    border: none;
    max-width: 150px;
    color: rgba(255, 255, 255, 0.959) ;
}

input:focus{
    outline: none;
    background: none;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.418);
  }

#kalender-body {
    display: grid;
    min-width: 400px;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
}

#kalender-footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.178);
    color: rgba(255, 255, 255, 0.959) ;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1pt;
    border-radius: 0px 0px 15px 15px; 
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    font-weight: bold;
    text-align: center;
}

.weekday {
    padding: 10px;
    border: 1pt solid #ccc;
    background: rgba(0, 0, 0, 0.25);
    font-size:small;
}

.day {
    text-align: center;
    padding: 10px;
    background: rgba(196, 196, 196, 0.178);
    border: 1pt solid #ccc;
    cursor: pointer;
    
}

.day:nth-child(7n+6)
 {
    text-align: center;
    padding: 10px;
    background: rgba(196, 196, 196, 0.178);
    border: 1pt solid #ccc;
    cursor: pointer;
    color: rgba(30, 158, 243, 0.959) ;
}

.day:nth-child(7n+7) {
    color: rgb(182, 13, 13) ;
    text-align: center;
    padding: 10px;
    background: rgba(196, 196, 196, 0.178);
    border: 1pt solid #ccc;
    cursor: pointer;
}

.day:hover {
    border: 3pt solid rgba(255, 145, 0, 0.89);
    border-collapse: collapse;
    padding: 5pt;
    transition: .1s;
}

#prev-btn {
    font: bold 15px Monospace;
    background-color: #f3f7fe;
    border: none;
    border-radius: 10px;
    width: auto;
    height: auto;
    transition: .3s;
    padding-top: 3pt;
    padding-bottom: 3pt;
    padding-left: 6pt;
    padding-right: 6pt;
    margin: 20pt;
  }
  
#prev-btn:hover {
    background-color:  rgba(110, 87, 194, 0.897);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }

.grayday {
    text-align: center;
    padding: 10px;
    color: #cececed2;
    background: rgba(235, 235, 235, 0.384);
    border: 1pt solid #ccc;
    cursor:default;
    
}
  
#next-btn {
    font: bold 15px Monospace;
    background-color: #f3f7fe;
    border: none;
    border-radius: 10px;
    width: auto;
    height: auto;
    transition: .3s;
    padding-top: 3pt;
    padding-bottom: 3pt;
    padding-left: 6pt;
    padding-right: 6pt;
    margin: 20pt;
  }
  
#next-btn:hover {
    background-color:  rgba(110, 87, 194, 0.897);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }

.day.today{
    background-color:  rgb(231, 231, 231);
}

.feiertag{
    color: rgba(224, 48, 48, 0.884) ;
    text-align: center;
    padding: 10px;
    background: rgba(196, 196, 196, 0.178);
    border: 1pt solid #ccc;
    cursor: pointer;
}

.feiertag:hover {
    border: 3pt solid rgba(255, 145, 0, 0.89);
    border-collapse: collapse;
    padding: 5pt;
    transition: .1s;
}
.feiertag.today{
    background-color:  rgb(231, 231, 231);
}

.information_header {
    border-radius: 5px 5px 5px 5px;
    padding-left: 2pt;
    font-family: 'Roboto Flex', sans-serif;
    background: rgba(155, 155, 155, 0.123);
    color: rgb(49, 49, 49) ;
    font-size: 20px;
}

.historie_header{
    border-radius: 5px 5px 5px 5px;
    padding-left: 2pt;
    font-family: 'Roboto Flex', sans-serif;
    background: rgba(155, 155, 155, 0.123);
    color: rgba(49, 49, 49, 0.87) ;
    font-size: 20px;
}

iframe {
    border: 1px solid rgb(228, 228, 228);
    width: 100%; 
    border-radius: 10px 10px 10px 10px;
    height: 1400px;
  }

@keyframes loadingAnimation {
    0% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
}

@keyframes infoAnimation {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

#loadingMessage{
    color: rgba(49, 49, 49, 0.87) ;
    font-size: 20px;
    animation: loadingAnimation 1s infinite;
    padding-left: 2pt;
}
.loadingSuccess{
    display: none;
}

#wikiData{
    font-family: 'Roboto Flex', sans-serif;
    animation: infoAnimation 0.5s ease-in-out;
}

.wikiDataAnimation{
    animation: infoAnimation 0.5s ease-in-out;
}

#wikiData [data-mw-section-id="0"]{
    display:none;
}

#wikiData a{
    color: rgb(0, 0, 0);
    text-decoration:none;
    pointer-events: none;
}

#wikiData figure{
    display:none;
}

#wikiData ul{
    padding-left: 20px;
}

#wikiData h2{
    border-radius: 5px 5px 5px 5px;
    padding-left: 2pt;
    font-family: 'Roboto Flex', sans-serif;
    background: rgba(155, 155, 155, 0.123);
    color: rgba(49, 49, 49, 0.87) ;
    font-size: 20px;
}

#wikiData h3{
    color: rgba(49, 49, 49, 0.87) ;
    padding-left: 2pt;
    font-size: 18px;

}

#wikiData #Ereignisse{
    display:none;
}

#wikiData .gallery{
    display:none;
}

#wikiData .thumbinner{
    display:none;
}

#wikiData #Einzelnachweise{
    display:none;
}

#wikiData .mw-references{
    display:none;
}