@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex:opsz,wght@8..144,700&display=swap');

body {
    background-color: rgb(250, 250, 250);
    min-width: 480px;
}

#page {
    display:grid;
    padding: 5pt;
    border: 0pt solid rgb(51, 7, 77);
    border-radius: 10px;
    grid-template-columns: 1fr auto;
    grid-template-areas:"kopf kopf"
                        "kalendarblatt info"
                        "kalendarblatt historie";
    margin-top: 1%;
    margin-bottom: 1%;                
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;               
    } 

@media screen and (max-width: 900px) {

            body {
            background-color: rgb(250, 250, 250);
            min-width: 480px;
            margin: 1px;
            }

            #page {
            display:block;
            border: 0pt solid rgb(51, 7, 77); 
            margin-top: 0%;
            margin-bottom: 0%;
            margin-left: 0%;
            margin-right: 0%;
            box-shadow: none;
            } 

            #info{
                font: 16px Arial;
                text-align: justify;
                margin-left: 10px;
                margin-right: 10px;
            }
            
            #historie {
                font: 16px Arial;
                text-align: justify;
                margin-left: 10px;
                margin-right: 10px;
            }
            table {
                border: 1px solid rgb(82, 82, 82);
                border-collapse:collapse;
                padding: 1px;
                margin-left: auto;
                margin-right: auto;
            }

            #kalendarblatt{
                font: bold 20px Arial;
                padding: 1px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }

            h1 {
                padding: 15pt;
                margin-top: 2pt;
            }

      }
#kalendarblatt{
    font: bold 20px Arial;
    padding: 10px;
    grid-area: kalendarblatt;
    text-align: center;
    margin: 10pt 5pt 10pt 5pt;
}

table {
    border: 3pt solid rgb(196, 196, 196);
    border-collapse:collapse;
    padding: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
}
th {
    border: 1px solid rgb(82, 82, 82); 
    border-collapse:collapse;
    padding: 3px; 
    min-width: 40pt;
}

tr{
    border: 1px solid rgb(82, 82, 82); 
    border-collapse:collapse;
    padding: 3px;  
}

td {
    border: 1px solid rgb(82, 82, 82); 
    border-collapse:collapse;
    padding: 3px; 
    height: 20pt;
}
.wochentage {
    background: rgba(0, 0, 0, 0.25);
    font-size:x-small
    }

.woche {
    background: rgba(196, 196, 196, 0.178);
}
.samstag {
    color: rgba(30, 158, 243, 0.959) ;
    padding: 10px;
    border: 1pt solid #ccc;
    background: rgba(0, 0, 0, 0.25);
    font-size:small;
}

.sonntag {
    color: rgb(182, 13, 13) ;
    padding: 10px;
    border: 1pt solid #ccc;
    background: rgba(0, 0, 0, 0.25);
    font-size:small;
} 
#kopf {
    background: rgba(110, 87, 194, 0.897);
    color: rgba(255, 255, 255, 0.959) ;
    grid-area: kopf;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1pt;
    text-align: center;
    font-size: clamp(15px, 1vw, 18px); 
    border: 0pt;
    border-radius: 10px;
    background-origin: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#headButton{
    cursor: pointer;
}
#info{
    font: 16px Arial;
}

#historie {
    font: 16px Arial;
}
thead {
    background: rgba(0, 0, 0, 0.178);
    color: rgba(255, 255, 255, 0.959) ;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1pt;
}
.tag_gray {
    color: rgba(177, 177, 177, 0.699) ;
}

.tag_today {
    border: 3pt solid rgba(255, 145, 0, 0.89);
}

.kalender {
    max-width: 420px;
    margin: auto;
    padding: 0px;
    font-family: Arial, sans-serif;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.178);
    color: rgba(255, 255, 255, 0.959) ;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1pt;
    border-radius: 15px 15px 0px 0px;
}

#kalender-body {
    display: grid;
    min-width: 400px;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
}

#kalender-footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.178);
    color: rgba(255, 255, 255, 0.959) ;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1pt;
    border-radius: 0px 0px 15px 15px; 
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    font-weight: bold;
    text-align: center;
}

.weekday {
    padding: 10px;
    border: 1pt solid #ccc;
    background: rgba(0, 0, 0, 0.25);
    font-size:small;
}

.day {
    text-align: center;
    padding: 10px;
    background: rgba(196, 196, 196, 0.178);
    border: 1pt solid #ccc;
    cursor: pointer;
    
}

.day:nth-child(7n+6)
 {
    text-align: center;
    padding: 10px;
    background: rgba(196, 196, 196, 0.178);
    border: 1pt solid #ccc;
    cursor: pointer;
    color: rgba(30, 158, 243, 0.959) ;
}

.day:nth-child(7n+7) {
    color: rgb(182, 13, 13) ;
    text-align: center;
    padding: 10px;
    background: rgba(196, 196, 196, 0.178);
    border: 1pt solid #ccc;
    cursor: pointer;
}

.day:hover {
    border: 3pt solid rgba(255, 145, 0, 0.89);
    border-collapse: collapse;
    padding: 5pt;
    transition: .1s;
}

#prev-btn {
    font: bold 15px Monospace;
    background-color: #f3f7fe;
    border: none;
    border-radius: 10px;
    width: auto;
    height: auto;
    transition: .3s;
    padding-top: 3pt;
    padding-bottom: 3pt;
    padding-left: 6pt;
    padding-right: 6pt;
    margin: 20pt;
  }
  
#prev-btn:hover {
    background-color:  rgba(110, 87, 194, 0.897);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }
  
#next-btn {
    font: bold 15px Monospace;
    background-color: #f3f7fe;
    border: none;
    border-radius: 10px;
    width: auto;
    height: auto;
    transition: .3s;
    padding-top: 3pt;
    padding-bottom: 3pt;
    padding-left: 6pt;
    padding-right: 6pt;
    margin: 20pt;
  }
  
#next-btn:hover {
    background-color:  rgba(110, 87, 194, 0.897);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }

.day.today{
    background-color:  rgb(231, 231, 231);
}
